.article-view {
    &__title {
        font-size: 40px;
    }

    &__date {
        color: grey;
    }

    &__subtitle {
        font-style: italic;
        font-size: 20px;
    }

    &__body {
        line-height: 25px;
        font-size: 16px
    }

    &__container {
        margin-top: 10px;
        padding: 75px
    }
}
