// Shared colors

$dark-mode-color: #fff;
$light-mode-color: #000;

$dark-mode-background-color: #000;
$light-mode-background-color: #fff;

$dark-mode-link-color: #7fc3e0;
$light-mode-link-color: #3d7e9a;
