.ArticleView {
    &__container {
        margin: 125px 0 50px -125px;
        width: 1000px;
        line-height: 35px;
        font-size: 17px;
    }

    &__reply-container {
        margin: 10px 0 100px 0;
    }
}
