@import '../../shared/shared';

.Header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 3px 0 rgba($color: $light-mode-color, $alpha: .7);

    &__content {
        width: 100%;
        max-width: 1080px;
        height: 60px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            width: 30px;
            height: 30px;
            background-color: $light-mode-color;
            transform: rotate(45deg);

            position: relative;
            transition: 300ms background-color ease;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                transition: 300ms background-color ease;
            }

            &::before {
                width: 6px;
                height: 20px;
                background-color: $light-mode-background-color;
                top: 5px;
                left: 5px;
            }

            &::after {
                width: 10px;
                height: 20px;
                background-color: $light-mode-background-color;
                top: 5px;
                left: 15px;
            }
        }

        &__title-container {
            &__title {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        &__dark-mode {
            &__label {
                position: relative;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                }

                &::before {
                    width: 40px;
                    height: 20px;
                    border: 1px solid $light-mode-color;
                    border-radius: 11px;
                    right: -46px;
                    bottom: -3px;
                }

                &::after {
                    transition: 300ms right ease, 300ms background-color ease;

                    width: 16px;
                    height: 16px;
                    background-color: $light-mode-color;
                    border-radius: 50%;
                    bottom: 0;
                    right: -24px;
                }

                &--toggled {
                    &::after {
                        right: -42px;
                        background-color: $dark-mode-color;
                    }

                    &::before {
                        border-color: $dark-mode-color;
                    }
                }
            }

            &__input {
                all: unset;
            }
        }
    }

    // Dark mode specific styles
    &--dark-mode {
        box-shadow: 0 0 3px 0 rgba($color: #fff, $alpha: .7);
    }

    &--dark-mode &__content {
        &__logo {
            background-color: $dark-mode-color;

            &::before,
            &::after {
                background-color: $dark-mode-background-color;
            }
        }
    }
}