@import '../shared/shared';

.Breadcrumbs {
    align-self: flex-start;
    padding: 20px 0 0;

    &__item {
        all: unset;

        position: relative;
        color: $light-mode-link-color;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            color: inherit;

            &::after {
                content: unset;
            }
        }

        &::after {
            content: '/';
            position: absolute;
            font-weight: bold;
            right: -12px;
            color: $light-mode-color;
        }
    }

    // Dark mode specific styles
    &--dark-mode &__item {
        color: $dark-mode-link-color;

        &::after {
            color: $dark-mode-color;
        }
        &:last-child {
            color: inherit;

            &::after {
                content: unset;
            }
        }
    }
}