.footer-container {
    margin-top: 20px !important;
    display: flex;
    text-align: center;
    width: 100%;
    background-color: transparent;
    color: black;
    border-top: 2px solid #E0E0E0;
    height: 80px;
}

.footer-2 {
    font-size: 15px;
}
